[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
sphinx = "*"

[packages]
pyqt5 = "*"
flake8 = "*"
lxml = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "python -m flake8"
start = "python -m project"
test = "pytest project/tests/"
gendoc = "pydoc -g"
