QFrame#modal{
    background: #111111;
    border: 3px solid #8777c4;
}

QFrame#modal QPushButton{
    background: #8777c4;
    color: #fff;
    border: none;
}

QFrame#modal QPushButton:hover{
    background: #7a6daf;
}

QFrame#modal QLabel{
    color: #fff;
}

QWidget#minesweeper{
    background: #232323;
}

QPushButton#tile{
    background: #35304c;
    border: 1px solid #645b87;
}

QPushButton#tile:hover{
    background: #484168;
}